.btn {
    text-transform: uppercase;
    width: max-content;
    border-radius: 0;
    box-shadow: none !important;
    display: block;
    font-size: 15px;
    padding: 14px 20px;
    letter-spacing: 1px;
    font-weight: bold;
   
    &.btn__1 {
        background-image: url(../img/pattern-grudge.png);
        border: 1px solid #a58251;
        background-color: #ffda6b;
        &:hover {
            background-color: #fff;
        }
    }
}
