.pagination {
    justify-content: center;
    .disabled {
        .page-link {
            background-image: url(../img/pattern-grudge.png);
            background-color: #fff;
        }
    }
    .active {
        .page-link {
            background-color: var(--custom-primary);
            border-color: var(--custom-primary);
        }
    }
    .page-link {
        color: #444;
        background-image: url(../img/pattern-grudge.png);
        border-color: rgba(165, 130, 81, 0.25);
        box-shadow: none !important;
    }
}
.blog__section {
    background-color: #f5f0e3;
    h1.title {
        font-family: Ptserif;
        font-weight: bold;
        font-size: 40px;
        padding: 15px 0 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgba(165, 130, 81, 0.3);
        text-align: center;
    }
    .thumbnail {
        img {
            width: 100%;
        }
    }
    .paragraph {
        margin-top: 50px;
    }
}
